

<form asp-action="GetName">
    <input type="text" name="Id" placeholder="ID">
    <input type="text" name="FullName" placeholder="Fullname">
    <input type="text" name="NoiSinh" placeholder="NoiSinh">
    <input type="submit" value="Send">
</form>
<h1>Test @ViewBag.thongbao</h1>